<%= form_for @feed do |f| %>
  <div class="field">
    <div class="row">
      <div class="col-1">
        <%= f.label :url %>
      </div>
      <div class="col-11">
        <%= f.text_field :url %>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <%= f.label :logo %>
      </div>
      <div class="col-11">
        <%= f.hidden_field :logo, value: @feed.cached_logo_data, class: "upload-data" %>
        <%= f.file_field :logo, class: "upload-file" %>
      </div>
    </div>
  </div>
  <hr />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<div class="upload-preview">
  <%= image_tag @feed.logo[:size270_180].url, height: "300" %>
</div>
