<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Rails6RssReader
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
      <%= render 'layouts/navigation' %>
      </div>
    </div>
    <%= render 'layouts/notifications' %>
    <%= yield %>
  </body>
</html>
